<h3>Games</h3>
<button (click)="test()">test</button>
<div *ngIf="currentBet">
  <form (ngSubmit)="submitBetForm()">
    <table>
      <tr>
        <td><label for="betAmount">Amount</label></td>
        <td><input [(ngModel)]="currentBet.betAmount" [disabled]="hasAppliedPromotion" id="betAmount" name="betAmount"></td>
      </tr>
      <tr>
        <td><label for="type">Type</label></td>
        <td>
          <select id="type" name="type" [(ngModel)]="selectedType" (change)="onTypeChange()">
            <option *ngFor="let bettype of betTypes" [value]="bettype">{{ bettype }}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><label for="value">List of bets</label></td>
        <td>
          <select id="value" name="value" [(ngModel)]="selectedValue">
            <option *ngFor="let val of values" [value]="val">{{ val }}</option>
          </select>
        </td>
      </tr>
    </table>

    <button type="submit">Add bet</button>
  </form>
</div>


<ul class="currentBets">
  <li *ngFor="let bet of currentBets">
    <p>{{bet.type}}</p>
    <p>{{bet.betAmount}}</p>
    <p>{{bet.fields}}</p>
  </li>
</ul>

<button (click)="playBets()">Play bets</button>

<div *ngIf="game">
  <p *ngIf="game.payout">Payout: {{game.payout}}</p>
  <p *ngIf="game.roll">Roll: {{game.roll}}</p>
  <p *ngIf="game.date">Date: {{game.date}}</p>
</div>

<ul class="gamePromotions">
  <li *ngFor="let gp of gamePromotions">
    <button (click)="selectPromotion(gp.id)">Apply</button>
    <p>{{gp.id}}</p>
    <p>{{gp.type}}</p>
    <p>{{gp.triggerScenario}}</p>
    <p>{{gp.parameters}}</p>
  </li>
</ul>
