<h3>Games history</h3>

<button (click)="goBack()">Back</button>

<div *ngIf="games.length > 0">
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Date</th>
      <th>Roll</th>
      <th>Payout</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let game of games">
      <th>{{game.gameId}}</th>
      <th>{{game.date }}</th>
      <th>{{game.roll}}</th>
      <th>{{game.payout}}</th>
      <button (click)="goToBets(game.gameId)"></button>
    </tr>
    </tbody>
  </table>

  <div class="pagination-controls">
    <button [disabled]="currentPage === 1" (click)="changePage(currentPage - 1)">Previous</button>
    <span>Page {{ currentPage }} of {{ Math.ceil(totalGames / limit) }}</span>
    <button [disabled]="currentPage === Math.ceil(totalGames / limit)" (click)="changePage(currentPage + 1)">Next</button>
  </div>
</div>

<div *ngIf="games.length === 0">
  <p>No data available.</p>
</div>
