<header>
  <h1>Fortune Rise</h1>
  <p>Welcome to fortune rise</p>
</header>


<button routerLink = ''>Home</button>
<button routerLink = "/users">View users</button>
<button (click)="navigateLogin()">Login</button>
<button (click) = "navigateUser()">Look User</button>
<button (click)="navigateWallet()">View wallet</button>
<button (click)="navigateGame()">Play game</button>
<button (click)="navigateHistory()">History</button>
<button (click)="navigateNotifications()">Notifications</button>
<button (click)="testUser()">test user</button>
<router-outlet></router-outlet>
